*.iml
*.class
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.app
*.ipa
*.zip

# Flutter
.dart_tool/
.packages
build/
*.lock
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
/pubspec.lock

# Firebase
google-services.json
GoogleService-Info.plist
